@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Poppins:wght@300;400;600;700&family=Work+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #252526;
    --secondry-color: #f2f2f2;
    --third-color: #000;
    --fourth-color: #f6f626;
    
}



body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
}


section{
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}

.swiper{
    width: 950px;
}

section .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background:var(--fourth-color) ;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--third-color);
}


.card{
    position: relative;
    background: var(--third-color);
    border-radius: 20px;
    margin: 20px 0;
}

.card::before{
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background: var(--fourth-color);
    border-radius: 20px 20px 0 0;
}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .media-icons{
    position: absolute;
    top: 10px;
    left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i{
    color: var(--third-color);
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover{
    opacity: 1;

}

.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: var(--secondry-color);
}

.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}

.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button{
    background: var(--fourth-color);
    outline: none;
    border: none;
    color: var(--third-color);
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover{
    background: #b7b31d;
}

.swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: var(--fourth-color);
}

.swiper-button-next, .swiper-button-prev{
    opacity: 0.5;
    color: var(--fourth-color);
    transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: var(--fourth-color);
}