*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #252526;
    background-size: 100% 100%;
    height: 100vh;
    font-family: 'Segoe UI';
}
a{
    text-decoration: none;
    color:#f6f626;
}
header{
    position: absolute;
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #141414;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;
}
header h3{
    color: #f6f626;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 10px;
}

header ul li a:hover, .active{
    background: #f6f626;
    color: #252526;
}


@media screen and (max-width:400px){
    header{
        width: 100%;
    }
    header .logo{
        font-size: 25px;
    }
    header h3{
        font-size: 0;
    }
    header ul{
        width: 25%;
        margin-right: 40px;
    }
    header ul li{
        width: 25%;
        font-size: 10px;
    }
    header ul li a{
        padding: 6px 10px;
    }
}
